
<view class="container">
<image class="logo pulse" src='../../lib/assets/lovelinegrad.png'></image>
  <button wx:if="{{buttonClickable}}" class="btn-lrg" open-type="getUserInfo" bindgetuserinfo="getUserInfo">Start your loveline</button>
</view>