/* pages/breakup/breakup.wxss */

.container {
    justify-content: space-around;
    padding: 40rpx;
}
text {
    text-align: center;
}
.btn {
    margin: 20rpx;
    background: darkred;
    color: white;
    font-weight: 400;
}
