<view class= "container">
  <view class="banner">
    <view class="prompt">{{all.question.content}}</view>
  </view>  

  <view class="date">first answer on {{all.date}} </view>

  <view class='comments-container'>
    <view class="answer-item">
     <view class="avatar-box"><image class='avatar' src= "{{all.answers[0].answer_user.avatar_url}}" > </image></view>
      <view class="answer-body">{{all.answers[0].content}}</view>
    </view>


  <view class="form-box" wx:if="{{one_answer && my_answer}}" >
      <form bindsubmit="formSubmit" bindreset="formReset">
        <textarea class="answer-form" placeholder="Both loveline partners must answer to reveal answers!" rows="4" cols="25" maxlength="240" name="comment"/>
        <button class="btn-submit" disabled="{{submitButtonDisable}}" formType="submit">Answer</button>
       </form>
  </view>

    <view class="answer-item">
     <view class="avatar-box"><image class='avatar' src= "{{all.answers[1].answer_user.avatar_url}}" > </image></view>
      <view class="answer-body">{{all.answers[1].content}}</view>
    </view>

    
       
  </view>




</view>

