<!--pages/answer/answer.wxml-->
<view class="container">
  <form bindsubmit="formSubmit">
    <view class="form-container">
      <view class="prompt">{{content}}</view>
        <view><textarea cols="" rows="" maxlength= "240" type="text" class="post-field-content" placeholder="Give your answer" name="prompt_answer" /></view>
     
    </view>
    <button class="btn-submit" disabled="{{submitButtonDisable}}" formType="submit">Submit Answer</button>
  </form>   
</view>